.background,
.main-header, #links{
    background-color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-header{
    color: black;
    text-align: center;
    font-size: 50px;
}

#links {
    background-color: yellow;
    font-size: 35px;
}

