/* Home Page Style */
.background,
.main-header, #links{
    background-color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-header{
    color: black;
    text-align: center;
    font-size: 50px;
}

#links {
    background-color: yellow;
    font-size: 35px;
}
/* Jerk Chicken Style */
/* This is an image below the one called #jerk */
#jerk {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.main-header {
    background-color: green;
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main
{
    background-color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.header.three,.header.two{
    color: red;
    font-size: 25px;
}

.header.three{
    color: red;
    font-size: 25px;    
}

#item {
    background-color: green;
}

/* ramen noodles style */
/* This is an image below the one called #ramen */
#ramen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* sushi style */
/* This is an image below the one called #sushi */
#sushi {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}